.git
.gitignore
.DS_Store
.ipynb_checkpoints
__pycache__
*.pyc

yoga-pose-fusion-frontend/node_modules
yoga-pose-fusion-frontend/build
yoga-pose-fusion-frontend/.git.backup

mobile
output
tmp
paper

backend/__pycache__
backend/logs
backend/.ipynb_checkpoints
backend/data/yoga82
backend/data/processed/*.npy
backend/data/processed/*_keypoints.csv
backend/data/processed/*_spectral.csv
backend/data/processed/pose_features_spectral.csv
backend/data/processed/*_metadata.csv
backend/data/processed/*_labels.npy
backend/data/processed/*_label_indices.npy
backend/data/processed/pose_mapping.json
